services:
  app:
    image: "ghcr.io/jellyfin/jellyfin:10.11.1"
    container_name: "jellyfin_app"
    volumes:
      - type: "tmpfs"
        target: "/cache"
      - type: "bind"
        source: "./config"
        target: "/config"
        bind:
          propagation: "shared"
          selinux: "z"
      - type: "bind"
        source: "./media"
        target: "/media"
        read_only: true
        bind:
          propagation: "shared"
          selinux: "z"
    ports:
      - "8096:8096"
    env_file:
      - ".env"
    restart: "unless-stopped"

  tunnel:
    image: "docker.io/cloudflare/cloudflared:2025.10.1"
    container_name: "jellyfin_tunnel"
    depends_on:
      - "app"
    restart: "always"
    env_file:
      - ".env"
    command: ["tunnel", "run"]

networks:
  default:
    name: "jellyfin"
