version: 2

updates:
  # Terraform
  - package-ecosystem: "terraform"
    directories:
      - "/services/*"
    registries:
      - "terraform-opentofu"
    schedule:
      interval: "monthly"
      time: "03:00"
      timezone: "Asia/Tokyo"
    labels:
      - "Type: Dependencies"
    assignees:
      - "RShirohara"

registries:
  terraform-opentofu:
    type: "terraform-registry"
    url: "https://registry.opentofu.org"
    token: ""
