version: 2

enable-beta-ecosystems: true

updates:
  # OpenTofu
  - package-ecosystem: "opentofu"
    directories:
      - "/services/*"
    schedule:
      interval: "monthly"
      time: "03:00"
      timezone: "Asia/Tokyo"
    labels:
      - "Type: Dependencies"
    assignees:
      - "RShirohara"
